@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: burlywood;
    
}


ul {
    list-style-type: none;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Nav Bar*/

.navbar {
    background-color: skyblue;
    color: #333;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #333 solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* utilities*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Hero Image*/

.container-hero {
    display: flex;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}


/* About section*/

.about-text {
    font-size: 100%;
    font-weight: 200;
    line-height: 1.5;
    word-spacing: 1%;
    margin: 0.5em 0 2rem;
    margin-top: 10px;
    margin-left: 16px;
    
}

.about-text p {
    margin: 20px 0;
    margin-left: 16px;
}

.about-us h2 {
    text-align: left;
    margin-top: 40px;
    font-weight: 700;
    margin-left: 15px;

}



.description-container h3 {
    font-size: 20px;
    margin-left: 15px;
}

.description-container p {
    margin: 20px 0;
    margin-left: 16px;
}

.description-container {
    max-width: 1500px;
    margin: 40px auto 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.description-container .home-img1{
    max-width: 400px;

}


.description-container .home-img1.right{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;

}


/*footer section*/

footer{
    width: 100%;
    background-color: skyblue;
    position: absolute;

}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
    
}

.social-networks a {
    text-decoration: none;
}

.social-networks i{
    font-size: 150%;
    margin: 1px;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 10px;
    
}