@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: burlywood;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}


ul {
    list-style-type: none;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Nav Bar*/

.navbar {
    background-color: skyblue;
    color: #333;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #333 solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* utilities*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Hero Image*/

.container-hero {
    display: flex;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}


/* About section*/

.about-text {
    font-size: 100%;
    font-weight: 200;
    line-height: 1.5;
    word-spacing: 1%;
    margin: 0.5em 0 2rem;
    margin-top: 10px;
    margin-left: 16px;
    
}

.about-text p {
    margin: 20px 0;
    margin-left: 16px;
}

.about-us h2 {
    text-align: left;
    margin-top: 40px;
    font-weight: 700;
    margin-left: 15px;

}



.description-container h3 {
    font-size: 20px;
    margin-left: 15px;
}

.description-container p {
    margin: 20px 0;
    margin-left: 16px;
}

.description-container {
    max-width: 1500px;
    margin: 40px auto 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.description-container .home-img1{
    max-width: 400px;

}


.description-container .home-img1.right{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;

}

/*membership section*/



.membership p {
    margin: 20px 0;
    margin-left: 16px;
}

.membership h3 {
    text-align: left;
    margin-top: 40px;
    font-weight: 700;
    margin-left: 15px;

}


/*gallery*/

.gallery-container {
    width: 100%;
    margin: 5rem auto;
  }

  .gallery-container .column {
    margin-top: 0px auto;
  }

  .gallery-container .column img {
    margin-top: 0px auto;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
    line-height: 0px;
}
/* makes images show in column*/
.column{
    flex: 25%;
    max-width: 80%;
    padding: 0px 0px;
}
.column img{
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}

/*shadow on image once mouse is moved on it*/

.column img:hover{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
}

/*Youtube videos*/


.videos iframe {
    border-radius: 12px;
    width: 500px;
    height: 280px;
  }
  
  .container-videos {
    display: flex;
    flex-wrap: wrap; /* The videos change to a column automatically when screen size is reduced */
  
    text-align: center;
    justify-content: space-evenly;
  }
  
  .videos {
    padding: 4em 0em; /*height of video in the container*/
  }

/* contact*/

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
    margin-top: 25px;
    margin-bottom: 30px;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
    
}


.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    padding: 15px;
    margin-bottom: 20px;

}

.contact-form-txt::placeholder {
    color: #aaa
}
.contact-form-textarea {
    width: 100%;
    height: 135px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 12px;
    outline: none;
    padding: 15px;
    margin-bottom: 20px;
    
}

.contact-form-textarea::placeholder {
    color: #aaa
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: skyblue;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;

}

/*footer section*/

footer{
    width: 100%;
    background-color: skyblue;
    position: absolute;
    left: 0;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
    
}

.social-networks a {
    text-decoration: none;
}

.social-networks i{
    font-size: 150%;
    margin: 2px;
    padding: 5%;
    color: #3a3a3a;
    
    
}


#page-container {
    min-height: 95vh;
    position: relative;
  }
  
  #content-wrap {
    padding-bottom: 1.4rem;
    /* kept Footer height */
  }

  .container a {
    text-decoration: none;
    color: inherit;
    /* makes hyperlinks inherit color */
  }